html {
	scroll-behavior: smooth;
}


body {
  background: #ccc;
}

.highlight {
  color: #18BC9C !important;
}

ul.sidenav {
  width: 190px;
  text-align: center;
}

ul.sidenav li.logo {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  min-height: 90px;
  padding: 30px 30px 40px;
  line-height: 0.2;
}

ul.sidenav li.logo h3 {
  font-size: 2.2em;
}

ul.sidenav li.logo span {
  color: brown;
}

.fullpage {
  height: 100vh;
}

